In [1]:
! pip install apyori

Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... - done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... - \ done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5974 sha256=f8d71f93ca9bc1a36e593a416953f14141bd85b585142efdc8093c30678a13e1
  Stored in directory: /root/.cache/pip/wheels/cb/f6/e1/57973c631d27efd1a2f375bd6a83b2a616c4021f24aab84080
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2
WARNING: Running pip as the 'root' user can result in broken permissions and conflicting behaviour with the system package manager. It is recommended to use a virtual environment instead: https://pip.pypa.io/warnings/venv

In [2]:
import numpy as np 
import pandas as pd 
from apyori import apriori

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/dataset/Movie_Id_Titles.csv
/kaggle/input/dataset/Dataset.csv

In [3]:
movie_titles_df = pd.read_csv('../input/dataset/Movie_Id_Titles.csv')
movie_rating_df = pd.read_csv('../input/dataset/Dataset.csv')

In [4]:
movie_titles_df.head(10)

   item_id                                              title
0        1                                   Toy Story (1995)
1        2                                   GoldenEye (1995)
2        3                                  Four Rooms (1995)
3        4                                  Get Shorty (1995)
4        5                                     Copycat (1995)
5        6  Shanghai Triad (Yao a yao yao dao waipo qiao) ...
6        7                              Twelve Monkeys (1995)
7        8                                        Babe (1995)
8        9                            Dead Man Walking (1995)
9       10                                 Richard III (1995)

In [5]:
movie_rating_df.head(10)

   user_id  item_id  rating  timestamp
0        0       50       5  881250949
1        0      172       5  881250949
2        0      133       1  881250949
3      196      242       3  881250949
4      186      302       3  891717742
5       22      377       1  878887116
6      244       51       2  880606923
7      166      346       1  886397596
8      298      474       4  884182806
9      115      265       2  881171488

In [6]:
movie_rating_df.shape

(100003, 4)

In [7]:
movie_titles_df.shape

(1682, 2)

In [8]:
movie_rating_df.drop('timestamp',axis=1,inplace=True)
movie_rating_df.head()

   user_id  item_id  rating
0        0       50       5
1        0      172       5
2        0      133       1
3      196      242       3
4      186      302       3

In [9]:
main_df = pd.merge(movie_rating_df,movie_titles_df,on='item_id')
main_df

,user_id,item_id,rating,title
0,0,50,5,Star Wars (1977)
1,290,50,5,Star Wars (1977)
2,79,50,4,Star Wars (1977)
3,2,50,5,Star Wars (1977)
4,8,50,5,Star Wars (1977)
...,...,...,...,...
99998,840,1674,4,Mamma Roma (1962)
99999,655,1640,3,"Eighth Day, The (1996)"
100000,655,1637,3,Girls Town (1996)
100001,655,1630,3,"Silence of the Palace, The (Saimt el Qusur) (1..."
100002,655,1641,3,Dadetown (1995)

In [10]:
main_df.drop(['item_id'],axis=1,inplace=True)
main_df

        user_id  rating                                              title
0             0       5                                   Star Wars (1977)
1           290       5                                   Star Wars (1977)
2            79       4                                   Star Wars (1977)
3             2       5                                   Star Wars (1977)
4             8       5                                   Star Wars (1977)
...         ...     ...                                                ...
99998       840       4                                  Mamma Roma (1962)
99999       655       3                             Eighth Day, The (1996)
100000      655       3                                  Girls Town (1996)
100001      655       3  Silence of the Palace, The (Saimt el Qusur) (1...
100002      655       3                                    Dadetown (1995)

[100003 rows x 3 columns]

In [11]:
main_df = main_df.pivot_table(index='user_id',columns='title',values='rating')
main_df

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,2.0,5.0,NaN,NaN,3.0,4.0,NaN,NaN,...,NaN,NaN,NaN,5.0,3.0,NaN,NaN,NaN,4.0,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.0,3.0,NaN,NaN,NaN,NaN

In [12]:
main_df.fillna(0,inplace=True)
main_df

title,'Til There Was You (1997),1-900 (1994),101 Dalmatians (1996),12 Angry Men (1957),187 (1997),2 Days in the Valley (1996),"20,000 Leagues Under the Sea (1954)",2001: A Space Odyssey (1968),3 Ninjas: High Noon At Mega Mountain (1998),"39 Steps, The (1935)",...,Yankee Zulu (1994),Year of the Horse (1997),You So Crazy (1994),Young Frankenstein (1974),Young Guns (1988),Young Guns II (1990),"Young Poisoner's Handbook, The (1995)",Zeus and Roxanne (1997),unknown,Á köldum klaka (Cold Fever) (1994)
user_id,,,,,,,,,,,,,,,,,,,,,
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,2.0,5.0,0.0,0.0,3.0,4.0,0.0,0.0,...,0.0,0.0,0.0,5.0,3.0,0.0,0.0,0.0,4.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0

In [13]:
movie_list = []
for i in range(0,944):
    movie_list.append([str(main_df.columns[j]) for j in range(0,1664) if main_df.values[i,j] != 0 ])

In [14]:
rules = apriori(transactions = movie_list,min_support=0.05,min_confidence=0.2,min_lift=6,max_length=2)
results = list(rules)

In [15]:
def data_extractor(data):
    m1 = np.array([tuple(i[2][0][0] for i in data)]).T
    m1 = pd.DataFrame(m1,columns=['Movie_Watched'])
    m2 = np.array([tuple(i[2][0][1] for i in data)]).T
    m2 = pd.DataFrame(m2,columns=['Also_Watched'])
    support = pd.DataFrame([i[1] for i in data],columns=['Support'])
    confidence = pd.DataFrame([i[2][0][2] for i in data],columns=['Confidence'])
    lift = pd.DataFrame([i[2][0][3] for i in data],columns=['Lift'])
    result = pd.concat([m1,m2,support,confidence,lift],axis=1)
    return result
result_df = data_extractor(results)

In [16]:
result_df.sort_values(by='Lift',ascending=False)

,Movie_Watched,Also_Watched,Support,Confidence,Lift
16,(Three Colors: Red (1994)),(Three Colors: White (1994)),0.055085,0.626506,10.024096
15,(Three Colors: Blue (1993)),(Three Colors: Red (1994)),0.058263,0.859375,9.774096
2,(Ace Ventura: Pet Detective (1994)),(Hot Shots! Part Deux (1993)),0.058263,0.533981,7.412907
11,"(Grand Day Out, A (1992))","(Wrong Trousers, The (1993))",0.064619,0.924242,7.393939
14,(Star Trek V: The Final Frontier (1989)),(Star Trek: The Motion Picture (1979)),0.059322,0.888889,7.171890
1,(Ace Ventura: Pet Detective (1994)),(Dumb & Dumber (1994)),0.056144,0.514563,7.039820
7,(Candyman (1992)),"(Nightmare on Elm Street, A (1984))",0.056144,0.815385,6.934442
4,(Ace Ventura: Pet Detective (1994)),(Tommy Boy (1995)),0.051907,0.475728,6.804354
3,(Ace Ventura: Pet Detective (1994)),(Naked Gun 33 1/3: The Final Insult (1994)),0.052966,0.485437,6.641340
9,"(Close Shave, A (1995))","(Grand Day Out, A (1992))",0.055085,0.464286,6.640693
5,(Alice in Wonderland (1951)),(Pinocchio (1940)),0.058263,0.679012,6.346412
8,(Cliffhanger (1993)),(Demolition Man (1993)),0.060381,0.612903,6.288920
13,(Last Action Hero (1993)),(Stargate (1994)),0.051907,0.830508,6.173228
12,(Home Alone (1990)),(Robin Hood: Men in Tights (1993)),0.052966,0.364964,6.152242
10,(Demolition Man (1993)),(First Knight (1995)),0.054025,0.554348,6.084934
6,"(American Werewolf in London, An (1981))","(Omen, The (1976))",0.057203,0.545455,6.057754
0,(Ace Ventura: Pet Detective (1994)),"(Brady Bunch Movie, The (1995))",0.052966,0.485437,6.029637